.container-nav { 
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    margin: 15px;

    span {
        cursor: pointer;
        font-size: 1.2rem;
    }

    span:hover {
        color: navy;
        text-decoration-line: underline;
        
    }


}